---
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import Pagination from '../../components/Pagination.astro';
import { POSTS_PER_PAGE, SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import { withBase } from '../../utils/url';

export const getStaticPaths = (async ({ paginate }) => {
	const posts = (await getCollection('blog')).sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);
	return paginate(posts, { pageSize: POSTS_PER_PAGE });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const pageTitle = page.currentPage === 1 ? SITE_TITLE : `${SITE_TITLE} - ${page.currentPage}페이지`;
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul.first-featured li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul.first-featured li:first-child img {
				width: 100%;
			}
			ul.first-featured li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.cat {
				display: inline-block;
				margin-bottom: 0.3em;
				color: rgb(var(--gray));
				font-size: 0.8rem;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul.first-featured li:first-child {
					margin-bottom: 0;
				}
				ul.first-featured li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul class={page.currentPage === 1 ? 'first-featured' : undefined}>
					{
						page.data.map((post) => (
							<li>
								<a href={withBase(`/blog/${post.id}/`)}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									{post.data.category && <span class="cat">{post.data.category}</span>}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			<Pagination currentPage={page.currentPage} lastPage={page.lastPage} baseUrl="/blog" />
		</main>
		<Footer />
	</body>
</html>
